body {
    margin: 0 auto;
    padding: 0;
  
    font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width:100%;
}

.header-page {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;

    width:100%;

    background: #f4f7f9;
}

.header-top {
    width:100%;
    min-height: 42px;
    
    background-color: #293449;
}

.header-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap:wrap;

    margin:auto;

    width:940px;
}

.header-items,
.search input,
.basket,
.bookmark,
.button-order {
    height: 42px;

    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.logo {
    display: flex;

    text-align: center;
    
    background-color: #ee3643;
    box-shadow: 0px 5px 0 0 #b52933;
}

.logo img {
    margin: auto;
}

.header-logo {
    width: 220px;
    height: 42px;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.top-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;

    margin:0;
}

.search {
    flex-grow:1;
    position:relative;

    min-width:270px;
    
    margin:0;
    padding: 0;
}

.search input { 
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;   
    box-sizing: border-box;

    margin:0;
    padding: 0;
    padding-left: 45px;

    width: 100%;
    
    outline: none;
    border: none;
    
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
}

.search input:hover {
    background-color: #212a3a;
}

.search input::-webkit-input-placeholder {
    margin:0;
    padding:0;

    width:100%; 
    height: 100%;

    color: #ffffff;
}

.search input:-moz-placeholder {
    margin:0;
    padding:0;
    padding-left: 45px;

    width:100%; 
    height: 100%;

    color: #ffffff;
}

.search input:-ms-input-placeholder {
    margin:0;
    padding:0;
    padding-left: 45px;

    width:100%; 
    height:100%;

    color: #ffffff;
}

.search input::-moz-placeholder {
    margin:0;
    padding:0;
    padding-left: 45px;

    width:100%; 
    height: 100%;

    color: #ffffff;    
}

.form-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    margin:0;
}

.basket,
.bookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding-right:15px;

    width: 135px;
    height:42px;
}

.basket-active,
.bookmark-active {
    background-color: #ee3643;
}

.search svg,
.basket svg,
.bookmark svg {
    margin:0px;
    padding:0px;

    fill:#ffffff;
    opacity:0.3;
}

.bookmark svg,
.basket svg {
    margin-left: 5px;
}

.search svg {
    position:absolute;
    left:15px;
    margin-top:10px;
    z-index: 1;
}

.search:hover,
.basket:hover,
.bookmark:hover {
    background-color: #212a3a;
}

.search:hover svg,
.basket:hover svg,
.bookmark:hover svg{
    background-color: #212a3a;
    opacity: 1;
}

.search input:focus {
    padding-left: 45px;

    background-color: #ffffff;
    color:#000000;
}

.search input:focus+svg{
    fill:#ee3643;
    background-color: #ffffff;
    opacity: 1;
}

.basket:active,
.bookmark:active {
    color: rgba(255,255,255, 0.6);
    background-color: #161d29;
}

.basket:active  svg,
.bookmark:active svg {
    fill:rgba(255,255,255,0.5);
    background-color: #161d29;
}

.header-items .button-order {
    padding:10px 0;

    width: 150px;
    height: 22px;

    text-align: center;
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;

    background-color: #63a63e;
    border:none;
}

.header-items .button-order:hover {
    background-color: #5fbb2d;
}

.header-items .button-order:active {
    color: rgba(255,255,255, 0.5);

    background-color: #518534;
}
.header-main {
    width:100%;
}

.header-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    margin:auto;
    margin-bottom:0px;
    padding-top: 49px;

    width:940px;
    min-height: 110px;
}

.slogan {
    margin:0px;
    margin-left: 53px;

    width: 197px;

    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    font-style: italic;
    color: #ee3643;
}

.slogan p {
    margin: 0;
    padding: 0;
}

.header-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 270px;
}

.header-contact a {
    position: relative;

    padding-top: 8px;
    padding-left: 70px;
    
    height: 31px;
    
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;

    background: url("../img/icon-phone.svg") 10px 10px no-repeat  #f4f7f9;
    border: 3px solid #ffffff;
}

.header-contact p {
    margin: 0;
    margin-left:10px;

    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.site-navigation,
.services-list,
.header-login-nav,
.header-login-private,
.header-user-nav,
.breadcrumbs-list,
.filter-manufacturer,
.filter-power,
.pagination-list,
.footer-main-nav,
.footer-catalog-nav,
.icon-list {
    list-style: none;
}

.header-login {
    display: flex;
    flex-wrap: wrap;

    width: 280px;
}

.header-login-nav,
.header-user-nav,
.header-login-private {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;

    margin: 0px;
    padding: 0px;

    width: 280px;
}

.header-user-nav {
    justify-content: space-between;

    margin-top: 2px;

    width: 210px;    
}

.header-login-private {
    margin-left: -20px;
    padding: 10px;

    width: 300px;

    background: #ffffff;
}

.header-login-nav button,
.header-login-private a {
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
    border:none;
}

.header-login-nav button {
    padding:12px 25px;
}   

.login-link {
    position: relative;

    width: 121px;
}

.login-link svg{
    position: absolute;
    top:15px;
    left:10px;
    
    fill:#c5c5c5;
}

.login-link span {
    padding-left: 15px;
}

.login-user svg{
    position: absolute;
    top:1px;
    left:0px;
    
    fill:#c5c5c5;
}

.login-user span {
    padding-left: 35px;
}

.login-user:hover span {
    color:#000000;
}

.login-out svg{
    display: block;
    top:1px;
    left:0px;
    
    fill:#c5c5c5;
}

.login-link:hover svg,
.login-user:hover svg,
.login-out:hover svg {
    fill:#32425c;
}

.header-user-nav li:last-child {
    position: relative;
}

.header-user-nav li:last-child::before{
    content:"";
    position:absolute;
    margin-left:-20px;
    margin-top:8px;

    width: 4px;
    height:5px;

    background-color: #32425c;
    border-radius: 50%;
}

.login-user {
    position: relative;

    width: 260px;
}

.header-login-private .login-out {
    width: 60px;

    font-size: 0px;
}
.header-login-private li {
    height: 25px;
}

.header-user-nav a {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.header-login-nav button:hover,
.header-login-private a:hover,
.header-user-nav a:hover{
    color: #ee3643;
}

.header-login-nav button:active,
.header-login-private a:active,
.header-user-nav a:active {
    color: rgba(0,0,0, 0.3);
}

.header-login-nav:active svg,
.login-user:active svg,
.login-out:active svg{
    fill:#c5c5c5;
}

.header-user {
    background-color: #f4f7f9;
}

.header-navigation {
    padding-bottom: 60px;

    height: 60px;
}

.site-navigation {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;

    margin-top: auto;
    padding: 0px;

    width: 940px;
    min-height: 50px;
    
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.site-navigation li {
    display:flex;

    margin:0;
    padding: 0px;

    text-align: center;
}
.site-navigation a {
    margin:0;
    padding: 20px 30px;

    vertical-align: middle;
    
    font-size: 17px;
    line-height: 17px;
    color:#ffffff;

    background-color: #32425c;
}

.site-navigation a:hover {
    background-color: #293449;
}

.site-navigation a:active {
    color: rgba(255,255,255, 0.5);

    background-color: #1d2739;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;

    width:100%;
}

.catalog,
.catalog a 
.catalog button{
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
}

.breadcrumbs {
    margin:0px;
    padding:0px;

    width: 940px;
}
.breadcrumbs-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0px;
    margin-top:17px;
    padding:0;

    width: 940px;
}

.breadcrumbs-list li:last-child,
.breadcrumbs-list a {
    font-family: "PTSans",Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumbs-list li {
    position:relative;

    margin: 0 18px;
}

.breadcrumbs-list li:first-child {
    margin-left: 0px;
}

.breadcrumbs-list li::after {
    position: absolute;

    margin-left:12px;
    margin-top:5px;

    width: 8px;
    height: 12px;

    content: "";

    background: url("../img/icon-right-small.svg") no-repeat;
}

.breadcrumbs-list li:last-child::after {
    display:none;
}

.title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

    width: 100%;   
}

h1 {
    padding-top:25px;
    padding-left:25px;

    width: 910px;
    height:57px;
    
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #32425c;

    background-color: #f2f6f8;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: flex-start;

    width: 940px;    
}

.filter {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 220px;
}

.filter h2,
.sort h2 {
    margin:0;
    padding-top: 15px;
    padding-left:20px;
    
    width: 220px;
    height:30px;

    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;
}

.filter form {
    display:flex;
    flex-wrap:wrap;
    align-items: flex-start;

    width: 220px;
}

.filter-value {
    margin:0;
    margin-bottom:5px;
    padding: 0;
    padding-bottom:25px;
    
    border:none;
    border-bottom: 1px solid #e5e5e5;
}

.not-border {
   margin-bottom:0px;
   padding-bottom:0px;
   
   border:none; 
}

.filter-value legend {
    padding-top:10px;
    padding-bottom: 15px;

    width: 220px;

    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.runner {
    position: relative;

    margin-bottom:10px;
    padding:35px 20px;

    width: 180px;
    height: 2px;
    
    background-color: #f7f3ec;
}

.runner-line {
    position: relative;

    height: 2px;
    
    background-color:#d7dcde;
}

.runner-line-active {
    position: absolute;
    top:35px;
    left:20px;

    width: 140px;
    height: 2px;

    z-index:5;

    background-color: #00ca74;
}

.runner-line::after,
.runner-line::before {
    position: absolute;
    top:-11px;
    left:0;

    width: 5px;
    height: 5px;

    z-index: 10;

    content:"";

    background-color:#b5b5b5;
    border:8px solid #ffffff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0, 0.3);
    border-radius: 50%;

    cursor: pointer;
}

.runner-line::after {
    left:140px;
}

.price {
    display:flex;
    justify-content: space-between;
    align-items:center;

    margin: 0px;

    width: 220px;
}

.runner-price {
    font-size: 17px;
    line-height: 18px;

    background-color: #f7f3ec;
}

.filter-value span {
    margin:0 6px;

    width: 10px;
    height: 1px;

    font-size: 0;

    background-color: #444444;
}

.min-price,
.max-price {
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    padding-left:15px;

    width: 80px;
    height: 40px;
    
    border:none;
}

.filter-manufacturer,
.filter-power {
    margin: 0px;
    padding: 0px;
}

.filter-power {
    margin-bottom: 75px;
} 
.filter-manufacturer label,
.filter-power label {
    display: inline-block;
    position: relative;

    padding-left: 35px;

    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

    cursor: pointer;
}


.filter-manufacturer li,
.filter-power li {
    position: relative;

    margin-bottom: 15px;
}

.filter-manufacturer li:last-child {
    margin-bottom: 0;
}

input[type=checkbox] {
    display: none;
}

input[type=radio] {
    display: none;
}

.filter-manufacturer label::after{
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 1px;

    margin-right: 10px;

    width: 17px;
    height: 17px;
    
    vertical-align: middle;
    content: "";

    border: 3px solid #c5c5c5;
    border-radius: 5px;
}

input[type=checkbox]:checked+label::before {
    position: absolute;
    top:-8px;
    left:8px;

    width: 8px;
    height: 15px;

    z-index:10;

    content: "";

    border:solid #c5c5c5;
    border-width: 0 5px 5px 0;
    box-shadow:
        2px 2px 0 0 #ffffff,
        inset -2px -2px 0 0 #ffffff;
    transform: rotate(45deg);    
}

.filter-power label::before {
    display: inline-block;
    position: absolute;
    left: -1px;
    bottom: 3px;

    margin-right: 10px;

    width: 18px;
    height: 18px;
    
    vertical-align: middle;
    content: "";

    border-radius: 50%;
    border:4px solid #c5c5c5;
}

input[type=checkbox]:hover+label::after,
input[type=checkbox]:checked:hover+label::before,
input[type=radio]:hover+label::before {
    border-color: #b5b5b5;
}

input[type=radio]:checked+label::before {
    display: inline-block;
    position: absolute;
    left: 3px;
    top:-5px;

    margin-right: 10px;

    width: 10px;
    height: 10px;

    vertical-align: middle;
    content: "";

    border-radius: 50%;
    border:4px solid #ffffff;
    background-color: #c5c5c5;
    box-shadow: 0 0 0 4px #c5c5c5;
}

input[type=radio]:checked:hover+label::before{
    background-color: #b5b5b5;
    box-shadow: 0 0 0 4px #b5b5b5;
}

input[type=checkbox]:disabled+label::before,
input[type=checkbox]:disabled+label::after,
input[type=radio]:disabled+label::before,
input[type=radio]:checked:disabled+label::before{
    opacity: 0.3;
}

input[type=checkbox]:disabled+label,
input[type=radio]:disabled+label {
    color:rgba(0,0,0, 0.4);
}

.show {
    width: 140px;
    height: 40px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;

    background-color: #ffffff;
    border:1px solid #e5e5e5;
    border-radius: 3px;
}

.main-catalog {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 700px;
}

.sort {
    display:flex;
    justify-content: space-around;

    margin-bottom:20px;
    padding-right: 15px;

    width: 700px;

    background-color: #f7f3ec;
}

.sort-filter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow:1;
}

.sort button {
    margin: 0px;
    margin-top:10px;
    padding: 0px;
    padding-top: 5px;

    height: 20px;

    font-family: "PTSans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgba(0,0,0, 0.3);

    background: transparent;
    border:none;
    border-bottom: 1px dotted #ee3643;
}

.sort button:hover {
    color: #000000;

    border-bottom: 1px solid #ee3643;
}

.sort .active {
    color: #ee3643;

    border:none;
}

.sort-filter-button {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 43px;
}

.sort-up svg,
.sort-down svg{
    display: inline-block;
    vertical-align: middle;

    height: 12px;

    fill:#c5c5c5;
}

.sort .sort-up,
.sort .sort-down {
    padding:0;

    border:none;
}

.sort-up:hover svg,
.sort-down:hover svg{
    fill:#000000;
}

.sort .sort-up:hover,
.sort .sort-down:hover {
    border:none;
}

.sort-up:active svg,
.sort-down:active svg,
.sort-up-active svg,
.sort-down-active svg{
    fill:#ee3643;
}

.features {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 59px;
    margin-bottom:55px;

    width: 100%;
}

.features-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;

    height: 409px;  
}

.left {
    width: 620px;
}

.right {
    margin-left:20px;

    width: 300px;
}

.features-item {
    position: relative;

    width: 300px;
    height: 123px;
    
    color:#ffffff;
}

.features-item h3 {
    position: absolute;
    top: 0px;
    left:20px;

    margin-top:20px;

    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.features-item a {
    position: absolute;
    top: 60px;
    left:25px;

    padding-top: 13px;

    width: 135px;
    height: 27px;
    
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;

    background-color: rgba(0,0,0, 0.1);
    border-radius: 3px;
}

.features-item img {
    position: absolute;
    top:30px;
    right:31px;

    max-width: 100%;
}

.materials img,
.discounts img {
    right:43px;
}

.flag-new {
    position: absolute;
    top: 0px;
    right: 0px;
  
    width: 60px;
    height: 60px;

    z-index:11;
    
    font-size:0px;

    background: url("../img/new flag.png") no-repeat 0 0;
}

.features-item a:hover {
    background-color: rgba(0,0,0, 0.2);
}

.features-item a:active {
    background-color: rgba(0,0,0, 0.3);
}

.materials,
.delivery {
    background-color: #ffbf47;
}

.tool {
    background-color: #3bbce3;
}
.technic {
    background-color: #dc91d8;
}

.discounts {
    background-color: #8ed78f;
}

.slider {
    position: relative;

    width: 620px;
    height:266px;
}

.slider-list {
    margin: 0;
    padding: 0;
  
    list-style: none;
}

.slider-text {
    position: absolute;
    top:25px;
    left:23px;
    
    color:#ffffff;

    background-color: rgba(0,0,0, 0.05);
}

.slider-text h3 {
    margin:0;

    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
    text-transform: uppercase;
}

.slider-text p {
    margin:0;

    font-size: 18px;
    line-height: 24px;
}

.button {
    padding-top:10px;
    padding-bottom:10px;
    
    font-family:"Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;

    background-color: #ee3643;
    border-radius: 3px;
}

.button-slider {
    position: absolute;
    left: 25px;
    bottom:25px;

    width: 195px;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

.slider-controls {
  display:flex;
  flex-direction:row;
  justify-content: space-between;

  position: absolute;
  top:115px;

  z-index: 20;

  width:640px;
  
  font-size: 0;
  cursor: pointer;
}

.slider-controls label {
    display: inline-block;
    vertical-align: top;

    width: 22px;
    height: 40px;

    background-color: transparent;
    border:none;

    cursor: pointer;
}

.back { 
    margin-left:23px;

    background: url("../img/icon-left.svg") no-repeat;
}

.forward {
    margin-right: 43px;

    background: url("../img/icon-right.svg") no-repeat;
}

#perforator {
    display:none;
}

#slide-1:checked ~ .slider #perforator,
#slide-2:checked ~ .slider #perforator {
  display: block;
}

#slide-1:checked ~ .slider #drill,
#slide-2:checked ~ .slider #drill {
  display: none;
}

#slide-1 ~ .slider,
#slide-2 ~ .slider {
  background-color: #dabdab; 
  background-image: url("../img/index-slide-foto-1.jpg");
}

#slide-1:checked ~ .slider,
#slide-2:checked ~ .slider {
  background-color: #dabdab;  
  background-image: url("../img/index-slide-foto-2.jpg");
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width:100%;
}

.section-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin-top:0;

    width:940px;    
}

.section-header {
    position: relative;

    margin-bottom: 15px;
    padding:0;    

    width: 940px;
    height:89px;
    
    background-color: #f9f5f0;
}

.section-header h2 {
    margin:0;
    padding-left: 30px;
    padding-top: 30px;

    font-size: 30px;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.button-catalog {
    position: absolute;
    top:25px;
    right:25px;

    width: 255px;
}

.product-list,
.manufacturer-list,
.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    width: 940px;
}
.manufacturer-list {
    margin-top:5px;
}

.main-catalog .product-list,
.main-catalog .manufacturer-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 700px;
}

.main-catalog .product-list {
    justify-content: flex-start;
}

.product-item {
    position: relative;

    margin:0;
    margin-bottom: 20px;
    padding:0;

    width: 218px;
    height: 318px;
    
    font-family: "PT Sans", Arual, sans-serif;
    font-weight: bold;
    
    border: 1px solid #ccc;
}

.product-item a {
    width: 218px;
    height: 318px;
}

.product-list-catalog .product-item {
    margin-right:20px;
}

.product-list-catalog .product-item:nth-child(3n) {
    margin-right:0px;
}
 
.product-item h3 {
    margin: 0 19px;
    margin-top:5px;

    font-size: 18px;
    line-height: 20px;
    color: #000000;
    text-align: center;
}

.product-item img {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding:0 1px;

    width:100%;

    font-size: 0;
}

.old-price {
    margin:10px 0;
    padding: 0;

    font-size: 17px;
    line-height: 18px;
    color: #999999;
    text-decoration: line-through;
    text-align: center;
}

.new-price {
    position: relative;

    margin: auto;
    margin-bottom: 20px;
    padding: 10px 30px;

    width: 80px;
  
    font-size: 17px;
    line-height: 20px;
    color: #ffffff;
    
    background-color: #ee3643;
    border-radius: 3px;
}
.one-price {
	margin-top: 40px;
}

.new-price::after {    
    position: absolute;
    top: 0;
    right: -20px;
    
    width: 0;
    height: 0;

    content: "";
    
    border: 20px solid white;
    border-left-color: #ee3643;
}

.product-active {
    position: absolute;
    top: 1px;
    left: 1px;

    padding: 40px 0px;
    
    width: 216px;
    height: 88px;
    
    z-index: 10;

    font-size: 14px;
    line-height: 18px;

    background-color: rgba(255,255,255,1);
}

.product-active .buy,
.product-active .get-bookmark {
    display: block;

    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;

    width: 129px;
    
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
    border-radius:3px;
}

.product-active .buy {
    position: relative;
}

.buy svg {
    position: absolute;
    top:7px;
    left:10px;

    width: 15px;
    height: 15px;

    opacity: 0.3;
}

.product-active .get-bookmark {
    color: #32425c;

    background-color: #ffffff;
    border-bottom-color: #63a63e;
}

.product-item .product-active {
    display: none;
}

.product-item:hover .product-active {
    display: block;
}

.product-item:hover {
    box-shadow: 0px 10px 20px 5px #b8bbc2;
}

.product-active .buy:hover {
    background-color: #5fbb2d;
    border:3px solid #5fbb2d;
    border-bottom-color:#367315; 
    opacity: 1;
}

.buy:hover svg {
    opacity: 1;
}

.product-active .buy::before:hover {
    background-color: #5fbb2d;
    opacity: 1;
}

.product-active .buy:active {
    background-color: #518534;
    border-color:#518534;
    opacity: 1;
}

.buy:active svg {
    opacity: 1;
}

.product-active .get-bookmark:hover  {
    border-color: #32425c;
}

.product-active .get-bookmark:active  {
    color: #c1c6ce;

    border-color: #c1c6ce;
}

.manufacturer-item {
    display: flex;

    margin-bottom: 20px;

    width: 220px;
    height: 145px;
    
    border:1px solid #e7e7e7;
}

.manufacturer-item img {
    margin: auto;
}

.manufacturer-item:hover {
    box-shadow: 0px 10px 20px 5px #b8bbc2;
}

.manufacturer-item:active {
    box-shadow: 0px 3px 10px 3px #b8bbc2;
}

.manufacturer-item:active img {
    opacity: 0.5;
}

.pagination {
    margin-top: 10px;
    margin-bottom: 40px;

    width: 700px;
}

.pagination-list {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;

    padding:0;
}

.pagination-list a {
    display:inline-block;
    vertical-align: middle;

    margin-right:10px;
    padding-top: 10px;

    width: 40px;
    height: 30px;

    text-align: center;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color:#000000;
    
    border:1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination-list a:hover {
    border-color: #bdc6ca;
} 

.pagination-list a:active {
    border-color: #ee3643;
} 

.pagination-list .active {
    color:#ffffff;

    background-color: #ee3643;
    border: none;
}

.pagination-list a:disabled {
    color:#e5e5e5;
}

.pagination-list .next {
    width: 145px;
}

.aside {
    display: flex;
    justify-content: center;

    margin: auto;

    background: #f2f6f8;
}

.aside-contant {
    margin-top: 65px;
    margin-bottom: 40px;

    width: 940px;
}

.service-section {
    margin-top: 65px;

    width: 100%;

    background-color: #f4f7f9;
}

.services {
    margin-top: 65px;
    margin-bottom: 95px;
}

.services h2,
.aside h2 {
    margin:0px;

    width: 560px;
    
    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
    text-transform: uppercase;
}

.services p,
.service-info,
.about-us p,
.text p,
.contacts p,
.aside-info {
    margin-top: 25px;
    margin-bottom: 30px;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.services p,
.service-info {
    width: 400px;
}

.about-us p,
.text {
    margin-bottom: 25px;
}

.text p {
    margin:0;
}
.service-info p,
.aside-info p {
    margin: 0;
    padding: 0px;
}

.services-slider {
    display: flex;
    flex-wrap: wrap;

    position:relative;	

    margin: 0px;
    margin-top:35px;
    padding:0px;

    width: 940px;
}

.services-slider::after {
    position:absolute;
    top:-30px;
    left:230px;

	width:10px;
    height: 272px;
    
    z-index:10;

    content:url("../img/Layer.png") ;
}

.services-controls {
    display:flex;
    flex-wrap:wrap;

    margin: 0;
    padding:0;

    width: 240px;
    height:190px;
}

.services-controls label{
    padding-bottom: 15px;
    padding-left:22px;
    padding-top:15px;

    width:240px;

    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    color: #ffffff;

    background-color:#32425c;
    border-bottom: 1px solid #293449;

    cursor: pointer;
}

.services-controls label:hover {
    color: #ffffff;

    background-color: #293449;
}
.services-slider ul {
   margin:0px;
   padding:0px;

   list-style:none;
}

.service-list li{
   margin: 0px;
   padding:0px;
}

.service {
    position: relative;

    margin: 0px;
    margin-left:80px;

    width: 620px;
    height:190px;
}

.service h3 {
    margin: 0px;
    padding-top:0px;

    font-size: 36px;
    line-height: 36px;
    color:#32425c;
    text-transform: uppercase;
}

.service img {
    position: absolute;
    top:25px;
    right:0;
}

#service-guarantee img,
#service-credit img {
    top:0px;
}

.button-credit {
    padding:10px 45px;

    width: 195px;

    border:none;
}

.service {
    display:none;
}

#service-1:checked ~ .services-slider #service-delivery,
#service-2:checked ~ .services-slider #service-guarantee,
#service-3:checked ~ .services-slider #service-credit,
#service-1:focus ~ .services-slider #service-delivery,
#service-2:focus ~ .services-slider #service-guarantee,
#service-3:focus ~ .services-slider #service-credit {
  display: block;
}

#service-1:checked ~ .services-slider label[for="service-1"],
#service-2:checked ~ .services-slider label[for="service-2"],
#service-3:checked ~ .services-slider label[for="service-3"],
#service-1:focus ~ .services-slider label[for="service-1"],
#service-2:focus ~ .services-slider label[for="service-2"],
#service-3:focus ~ .services-slider label[for="service-3"] {
    color: #32425c;

    background-color:#ffffff;
    border:none;
}

.company-contacts {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    flex-wrap: wrap;

    margin-top: 80px;
    margin-bottom: 85px;

    width: 940px;
}

.about-us {
    width: 540px;
}

.contacts {
    width: 300px;
}

.contacts p {
    width: 180px;
}

.section h2 {
    margin:0px;

    font-size: 30px;
    line-height: 30px;
    color:#000000;
    font-weight: normal;
    text-transform: uppercase;
}

.transport-list {
    margin-top:-5px;
    padding-left:35px;
    margin-bottom:15px;

    list-style: none;
}

.transport-list li {
    padding-bottom: 20px;
    position: relative;
    font-size: 18px;
    line-height: 20px;
    color:#000000;
}

.transport-list li::before {
    position:absolute;
    top:10px;
    left:-35px;

    width: 25px;

    content: "";

    border-bottom: 2px solid #ee3643;
}

.map {
    margin:0px;
    margin-bottom: 26px;
}

.map img {
    margin-top: 0;

    width: 100%;
}

.button-company {
    display: block;
    align-self: flex-end;

    width: 220px;
}

.button-map {
    align-self: flex-end;

    margin-top:5px;
    padding:0px;

    width: 100%;
    height: 38px;

    border: none;
}

.footer {
    background-color: #32425c;
}

.footer-page {
    width:100%;

    background-color: #32425c;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin:auto;
    margin-bottom:53px;
    padding:0;
    
    width: 940px;

    background-color: #32425c;
}

.footer-logo {
    width: 220px;
    height: 63px;
}

.footer-main-nav,
.footer-catalog-nav {
    display: flex;
    justify-content: space-between;

    font-size: 18px;
    line-height: 24px;
    
    background-color: #32425c;
}

.footer-main-nav {
    padding-top:20px;
    padding-left:10px;

    width: 550px;
}

.footer-catalog-nav {
    margin-top: 15px;

    width: 525px;
}

.footer-main-nav a {
    color:#f1f5f7;
}

.footer-catalog-nav a {
    color:#ffd180;
}

.footer-main-nav a:hover,
.footer-catalog-nav a:hover,
.footer-contacts:hover{
    text-decoration: underline;
}

.footer-main-nav a:active {
    color: rgba(241, 245, 247, 0.5);
    text-decoration: none;
}

.footer-catalog-nav a:active {
    color:rgba(255, 209, 128, 0.5);
    text-decoration: none;
}

.footer-contacts:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-address,
.footer-address a {
    margin:0;

    width:320px;
    
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    text-decoration: none;

    background-color: #32425c;
}

.footer-address {
    margin-top:15px;
}

.footer-botton {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;

    background-color: #293449;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin:auto;
    padding-top:35px;

    width: 940px;
    height: 77px;
}

.footer-bottom-content p {
    margin: 0;
}
.coperight {
    margin-right: 160px;
}

.coperight p {
    margin: 0;

    width: 228px;
}

.icon-list {
    display: flex;
    justify-content: space-around;
    flex-shrink:0;

    margin-right: 120px;
    padding:0;

    width: 135px;
}

.icon-list a {
    align-self: center;

    margin-left: 3px;

    width: 40px;
    height: 40px;

    font-size: 0px;

    background-color: #212a3a;
    border-radius: 50%;
}

.icon-list a:hover,
.icon-list a:active {
    background-color: #ee3643;
}

.vk-icon{
    background: url("../img/icon-vk.svg") 50% 50% no-repeat;
}

.fb-icon{
    background: url("../img/icon-fb.svg") 50% 50% no-repeat;
}

.insta-icon{
    background: url("../img/icon-insta.svg") 50% 50% no-repeat;
}

.footer-contacts {
    color: #ffd180;
}

.footer-bottom-content .feedback {
    margin-right: 45px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);

    margin: -1px;
    padding:0;

    width: 1px;
    height: 1px;

    font-size:0;
}

.popup-close {
    position: absolute;
    top:5px;
    right:5px;

    width: 25px;
    height: 25px;

    z-index:35;

    font-size: 0px;

    border:none;
    background: url("../img/icon-close.svg") no-repeat;
    
    cursor: pointer;
}

.login-popup,
.basket-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    top:50%;
    left:50%;

    margin:auto;
    margin-left:-310px;

    width: 620px;

    z-index:25;

    background-color:#ffffff;
    box-shadow: 0 20px 20px 0px #767d8b;
    border-top:8px solid #ee3643;
}

.login-popup {
    align-items: center;
    
    margin-top:-215px;

    height: 430px;
}

.login-popup-contant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-self:flex-start;

    margin-top:50px;
    margin-left: 80px;

    width: 460px;
}

.form {
    display:flex;
    flex-wrap: wrap;

    width: 220px;
    height: 70px;
}

.form input {
    width: 220px;
}

.info-form {
    display:flex;
    flex-wrap: wrap;

    width: 460px;
}

.input-area {
    width: 460px;
    height: 130px;

    resize: none;
}

.form label,
.info-form label{
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.form input,
.input-area{
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;

    border: 2px solid #d7dcde;
}

.form input:hover,
.input-area:hover {
    border: 2px solid #b5b5b5;
}

.form input:focus,
.input-area:focus {
    outline: none;
    border: 2px solid #ee3643;
}

.login-button {
    width: 460px;
    height: 40px;

    border:none;
}

.basket-popup {
    align-items: flex-end;
    
    margin-top:-100px; 
    padding-top:70px;

    height: 205px;
}
.basket-popup p{
    position: relative;
    
    margin:0;
    margin-bottom:70px;
    padding-left:175px;

    width: 100%;

    font-family: "Cuprum", "PT Sans", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.basket-popup p::before {
    position: absolute;
    top:-15px;
    left:75px;

    width: 70px;
    height: 70px;

    content: "";
    
    background: url("../img/form-1.png") no-repeat;
}

.login-bottom,
.basket-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;

    width: 100%;
    height: 115px;
    
    background-color: #f1f1f1;
}

.button-basket,
.button-continue {
   width: 220px;
}

.button-basket {
    margin-right: 20px;
}

.button-continue {
    padding-top: 10px;

    height: 40px;

    color:#000000;

    background-color: #ffffff;
    border:none;
}

.map-popup {
    position: fixed;
    top:50%;
    left:50%;

    margin-left:-470px;
    margin-top:-223px;

    width: 940px;
    height: 446.2px;

    z-index: 25;

    box-shadow: 5px 5px 20px 0px #767d8b;
}
.map-popup img {
    position:absolute;
    top:0px;

    margin:0;

    z-index: 25;
}

.map-popup iframe {
    position:absolute;

    z-index:30;

    frameborder:0;

    border:none;
}

.login-popup,
.map-popup,
.basket-popup {
    display:none;
}

.popup-show {
    animation: appearance 0.6s;
    animation-timing-function:linear;
    display:block;

}

@keyframes appearance {
    0% {
        top:-100%;
    }
    100% {
        top:0;
    }
}